@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    font-family: 'Bangers', cursive;
    width: 100%;
}

nav {
    padding: 0 2rem;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header {
    text-align: center;
    margin: 3rem 0 1rem 0;
    word-wrap: break-word;
    letter-spacing: .25rem;
    text-shadow: -2px 5px gray;
}

.main-sub-header{
        font-family: 'Oswald', sans-serif;
        text-align: center;
        padding: 1rem;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.spin:hover {
    animation: spin 2s ease infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.constant-tilt-shake {
    animation: tilt-shaking 1s infinite linear;
}

.justifaction-card-container {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem auto;
    flex-wrap: wrap;
}

.justifaction-card {
    height: 20rem;
    width: 18rem;
    border: 1px solid black;
    margin: 1rem 0;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: .5rem;
    box-shadow: -8px 9px 5px -6px;
    cursor: pointer;
}

.gif {
    width: 100%;
    height: 20vh;
}

.about-container {
    width: 90%;
    margin: auto;
    /* height: 35vh; */
}


.accordion-button{
    font-size: 1.5rem;

}

.accordion-body{
    font-size: 1rem;
}

.list-group{
        font-family: 'Oswald', sans-serif;
}

.table-column  {
    font-weight: bold;
    color: black;
}

.denial-container {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    /* height: 40vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.denial-image-container {
    padding: 1rem;
    display: flex;
    max-height: 70vh;
}


.denial-text-container {
    /* width: 45%; */
    padding: 1rem;
    /* line-height: 2rem; */
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
}

footer {
    width: 100%;
    min-height: 20vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 5rem;
    flex-wrap: wrap-reverse;
}



.footer-links-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1rem;
}


.sign-up-form {
    width: 40vw;
}



/* medai query */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .sign-up-form {
        width: 100%;
    }

    .form-container {
        margin: auto;
        margin: 2rem auto;
    }

    .footer-links-container {
        text-align: center;
    }

    .btn {
        margin: auto;
    }

    .denial-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .denial-text-container {
        text-align: center;
    }

        .denial-image-container > img {
            width: 85vw;

        }

}
