@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


/* CSS animations */

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* Utility styles */

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Bangers', cursive;
    width: 100%;
    min-height: 100vh;
    background-color: lightgray;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

}



/* nav {
    padding:  3rem;
} */


a,
a:hover {
    color: inherit;
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* index styles */


.navbar {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: larger;
}

.main-header {
    text-align: center;
    margin: 3rem 0 1rem 0;
    word-wrap: break-word;
    letter-spacing: .25rem;
    text-shadow: -2px 5px gray;
    font-size: 5rem;
}

.main-sub-header {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 1rem;
}



.spin:hover {
    animation: spin 2s ease infinite;
}


.constant-tilt-shake {
    animation: tilt-shaking 1s infinite linear;
}

.justifaction-card-container {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 2.5rem;
    flex-wrap: wrap;
}

.justifaction-card {
    height: 24rem;
    width: 20rem;
    border: 1px solid black;
    margin: 1rem 0;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: .5rem;
    box-shadow: -8px 9px 5px -6px;
    cursor: pointer;
    background-color: white;
}

.gif {
    width: 100%;
    height: 20vh;
}


/* About page */
.about-container {
    margin-bottom: 5rem;
}


.accordion-button {
    font-size: 1.5rem;

}

.accordion-body {
    font-size: 1rem;
}

.list-group {
    font-family: 'Oswald', sans-serif;
}

.table-column {
    font-weight: bold;
    color: black;
}

/* denial, justification and dissonance pages */

.denial-container {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
    border: 1px solid black;
    /* height: 40vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.denial-image-container {
    padding: 1rem;
    display: flex;
    max-height: 70vh;
}


.denial-text-container {
    /* width: 45%; */
    padding: 1rem;
    /* line-height: 2rem; */
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
}


/* footer styles */

footer {
    width: 100%;
    /* min-height: 20vh; */
    /* margin-top: 3rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 5rem;
    flex-wrap: wrap-reverse;
    margin-bottom: 0;
    margin-top: auto;

}


.footer-links-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1.25rem;
}


.footer-links-container li:hover {
    text-decoration: underline;
}

.sign-up-form {
    width: 40vw;
}


/* medai query for tablets and smaller*/
@media (max-width: 768px) {


    footer {
        flex-direction: column;

    }


    .form-container {
        margin: 2rem auto;
    }

    .footer-links-container {
        text-align: center;
    }

    .btn {
        margin: auto;
    }

    .denial-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;`
    }

    .denial-text-container {
        text-align: center;
    }

    .denial-image-container>img {
        width: 85vw;

    }

}
